header {
  display: flex;
  padding: $spacer-small $spacer-medium;

  background-color: $blue;
  color: rgba(white, 0.8);
}

.app-side-bar {
  background-color: $green;
  color: rgba(black, .8);

  padding: $spacer-small;
}