html {
	/* switching to border-box model for all elements */
	box-sizing: border-box;

	/* set base font-size to equiv "10px", which is adapted to rem unit */
	font-size: 62.5%;

	/* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
	font-size: calc(1em * 0.625);
}

body {
	@include font-size(base);
	font-family: $font-family-base;
	line-height: $line-height-base;
}
