@import './abstract';


$themes: (
        light: (


        ),
        dark: (
                song-txt: cv(dark-foreground, dark10),

                chords-bg: cv(dark-background, light10),
                printPreview-chords-bg: cv(dark-foreground),

                chords-txt-base: cv(dark-foreground, dark10),
                barSeparator-txt-base: cv(dark-foreground, dark30),
                printPreview-barSeparator-txt-base: cv(dark-foreground, dark30),

                chords-txt-red: cv(dark-red),
                barSeparator-txt-red: cv(dark-red, light10),

                chords-txt-yellow: cv(dark-yellow, dark10),
                barSeparator-txt-yellow: cv(dark-yellow, dark20),

                chords-txt-green: cv(dark-green),
                barSeparator-txt-green: cv(dark-green, light10),

        ),
);




.cmLine {
  margin: 0;
  font-family: $font-family-monospace;
  white-space: pre-wrap;

  .editorPreview &,
  .exportPreview & {
    @include font-size(small);
  }
  
  .cmLine--fontSize-5 & {
    font-size: 7px;
  }
  .cmLine--fontSize-4 & {
    font-size: 8px;
  }
  .cmLine--fontSize-3 & {
    font-size: 9px;
  }
  .cmLine--fontSize-2 & {
    font-size: 10px;
  }
  .cmLine--fontSize-1 & {
    font-size: 11px;
  }
  .cmLine--fontSize0 & {
    font-size: 12px;
  }
  .cmLine--fontSize1 & {
    font-size: 13px;
  }
  .cmLine--fontSize2 & {
    font-size: 14px;
  }
  .cmLine--fontSize3 & {
    font-size: 15px;
  }
  .cmLine--fontSize4 & {
    font-size: 16px;
  }
  .cmLine--fontSize5 & {
    font-size: 17px;
  }
}


.cmChordLine {
  .playRenderer.cmChordLine--highlightChords &,
  .editorPreview.cmChordLine--highlightChords & {
    @include themify($themes) {
      background-color: themed('chords-bg');
    }
  }
  .printPreview.cmChordLine--highlightChords & {
    @include themify($themes) {
      background-color: themed('printPreview-chords-bg');
    }
  }


}


.cmTextLine {
  .editorPreview & {
    @include themify($themes) {
      color: themed('song-txt');
    }
  }
}


.cmChordSymbol {
  font-weight: 700;

  .exportPreview & {
    font-weight: normal;
  }

  .cmChordSymbol--chordsColor-base & {
    @include themify($themes) {
      color: themed('chords-txt-base');
    }
  }
  .cmChordSymbol--chordsColor-red & {
    @include themify($themes) {
      color: themed('chords-txt-red');
    }
  }
  .cmChordSymbol--chordsColor-yellow & {
    @include themify($themes) {
      color: themed('chords-txt-yellow');
    }
  }
  .cmChordSymbol--chordsColor-green & {
    @include themify($themes) {
      color: themed('chords-txt-green');
    }
  }

}


.cmBarSeparator {
  margin: 0 10px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .cmChordSymbol--chordsColor-base & {
    @include themify($themes) {
      color: themed('barSeparator-txt-base');
    }
  }
  .cmChordSymbol--chordsColor-red & {
    @include themify($themes) {
      color: themed('barSeparator-txt-red');
    }
  }
  .cmChordSymbol--chordsColor-yellow & {
    @include themify($themes) {
      color: themed('barSeparator-txt-yellow');
    }
  }
  .cmChordSymbol--chordsColor-green & {
    @include themify($themes) {
      color: themed('barSeparator-txt-green');
    }
  }

  .printPreview & {
    @include themify($themes) {
      color: themed('printPreview-barSeparator-txt-base');
    }
  }

}
