@import 'knacss/variables';
@import 'knacss/mixins';
@import 'knacss/base';

@import 'colors';
@import 'layout';
@import 'plugins';

@import 'song-rendering';


#rendered-song {
  background-color: $silver;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  height: 100%;

  p {
    margin: 0;
  }
}

