.cmLine {
  margin: 0;
  //@include font-size(small);
  font-family: $font-family-monospace;
  white-space: pre-wrap;
}

.cmChordLine {
  background-color: rgba(#000, .05);
}

.cmChordSymbol {
  font-weight: 700;
}

.cmBarSeparator {
  margin: 0 10px;
  color: #aaa;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
