.sidebar {

  .options-panel {

    @include font-size(small);

    .icon {
      @include font-size(base);
    }

    .options-panel-entry {
      > .option:not(.option-group-label) {
        padding: $spacer-tiny $spacer-small-plus $spacer-tiny $spacer-tiny;
        border-bottom: 1px dotted $c-prim-light;
      }


      &.options-panel-entry-disabled > .option:not(.option-group-label) {
        color: rgba($c-prim, 0.5);
      }

      &:not(.options-panel-entry-disabled):hover > .option:not(.option-group-label) {
        background-color: rgba($c-prim, 0.1);
      }

      > .option-group-label {
        padding: $spacer-medium $spacer-tiny $spacer-tiny;
        border-bottom: 1px dotted $c-prim-light;

      }


    }




  }

}
