.sb-optionGroupLabel {
  padding: $spacer-medium $spacer-tiny $spacer-tiny;

  @include font-size(normal);
  font-weight: $weight-bold;

  @include themify($themes) {
    border-bottom: 1px dotted themed('option-border');
  }
}


.sb-optionGroupLabel-icon {
  .icon {
    @include font-size(base);
  }
}
