.sb-optionSelect {
  .optionsPanelEntry:not(.optionsPanelEntry-isDisabled) &:hover {
    cursor: pointer;
  }
}


.sb-optionSelect-title {
  display: flex;
}


.sb-optionSelect-desc {
  flex: 1 1 auto;
}


.sb-optionSelect-toggle {
  flex: 0 0 auto;

  .icon {
    vertical-align: middle;
  }
}


.sb-optionSelectChoice {
  padding-top: $spacer-tiny;
  display: flex;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


.sb-optionSelectChoice-isActive {
  font-weight: $weight-bold;
}


.sb-optionSelectChoice-check {
  flex: 0 0 20px;

  .icon {
    @include font-size(small)
  }
}


.sb-optionSelectChoice-label {
  flex: 1 1 auto;
}


