.optionSlider {
  display: flex;
  flex-wrap: wrap;

  .optionSlider-desc {
    flex: 1 1 auto;
  }
  .optionSlider-value {
    flex: 0 0 auto;
    vertical-align: middle;

    @include font-size(small);
  }

  .optionSlider-range {
    flex: 1 1 100%;

    input[type="range"] {
      @include input-type-range;
    }
  }
}


