@import '../../../../../scss/abstract';
@import '../_themes.scss';


.sb-optionToggle {
  display: flex;

  .optionsPanelEntry:not(.optionsPanelEntry-isDisabled) &:hover {
    cursor: pointer;
  }
}


.sb-optionToggle-desc {
  flex: 1 1 auto;
}


.sb-optionToggle-icon {
  flex: 0 0 auto;
}


.sb-optionToggle-isOff {
  .icon {
    @include themify($themes) {
      color: themed('toggle-icon-isOff');
    }
  }
}


.sb-optionToggle-icon {
  .icon {
    @include font-size(big);
  }

  .sb-optionToggle-isOff & {
    .icon {
      @include themify($themes) {
        color: themed('toggle-icon-isOff');
      }
    }
  }
}
