// Source: Knacss

// font-size Mixin
// compiles to font-size mobile + font-size desktop on small-plus devices
// ex. h2 { @include font-size(h2);}
@mixin font-size($elem) {
	$q: map-get($font-sizes, $elem);
	$mob: map-get($q, 'mobile');
	$desk: map-get($q, 'desktop');
	font-size: $desk;
}
