// Adapted from https://github.com/Jimdo/range-slider-sass
@use 'sass:math';

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
	box-shadow:
		$shadow-size $shadow-size $shadow-blur $shadow-color,
		0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track($track-width, $track-height) {
	width: $track-width;
	height: $track-height;
	cursor: pointer;
	animation: 0.2s;
}

@mixin thumb(
	$thumb-width,
	$thumb-height,
	$thumb-border-width,
	$thumb-border-color,
	$thumb-radius,
	$thumb-color
) {
	//@include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
	width: $thumb-width;
	height: $thumb-height;
	cursor: pointer;
	border: $thumb-border-width solid $thumb-border-color;
	border-radius: $thumb-radius;
	background: $thumb-color;
}

@mixin input-type-range(
	$thumb-color: red,
	$thumb-radius: 0,
	$thumb-height: 10px,
	$thumb-width: 15px,
	$thumb-shadow-size: 0,
	$thumb-shadow-blur: 0,
	$thumb-shadow-color: rgba(0, 0, 0, 0),
	$thumb-border-width: 0,
	$thumb-border-color: black,
	$track-color: blue,
	$track-radius: 0,
	$track-width: 100%,
	$track-height: 10px,
	$track-shadow-size: 0,
	$track-shadow-blur: 0,
	$track-shadow-color: rgba(0, 0, 0, 0),
	$track-border-width: 0,
	// might not be taken into account everywhere, see belo
	$track-border-color: black
) {
	-webkit-appearance: none;
	width: $track-width;
	background: transparent;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		@include track($track-width, $track-height);
		//@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		background: $track-color;
	}

	&::-webkit-slider-thumb {
		@include thumb(
			$thumb-width,
			$thumb-height,
			$thumb-border-width,
			$thumb-border-color,
			$thumb-radius,
			$thumb-color
		);
		-webkit-appearance: none;
		//margin-top: ((-#{$track-border-width} * 2) + $track-height) / (2 - $thumb-height / 2);
		// the build fails with $track-border-width = 0
		margin-top: math.div(($track-height), (2 - math.div($thumb-height, 2)));
	}

	&:focus::-webkit-slider-runnable-track {
		background: $track-color;
	}

	&::-moz-range-track {
		@include track($track-width, $track-height);
		//@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
		background: $track-color;
	}

	&::-moz-range-thumb {
		@include thumb(
			$thumb-width,
			$thumb-height,
			$thumb-border-width,
			$thumb-border-color,
			$thumb-radius,
			$thumb-color
		);
	}

	&::-ms-track {
		@include track($track-width, $track-height);
		color: transparent;
		border-width: $thumb-width 0;
		border-color: transparent;
		background: transparent;
	}

	&::-ms-fill-lower {
		//@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
		background: $track-color;
	}

	&::-ms-fill-upper {
		//@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
		background: $track-color;
	}

	&::-ms-thumb {
		@include thumb(
			$thumb-width,
			$thumb-height,
			$thumb-border-width,
			$thumb-border-color,
			$thumb-radius,
			$thumb-color
		);
	}

	&:focus::-ms-fill-lower {
		background: $track-color;
	}

	&:focus::-ms-fill-upper {
		background: $track-color;
	}

	&:disabled::-moz-range-track,
	&:disabled::-moz-range-thumb {
		cursor: default;
	}

	&:disabled::-webkit-slider-runnable-track,
	&:disabled::-webkit-slider-thumb {
		cursor: default;
	}

	&:disabled::-ms-track,
	&:disabled::-ms-thumb {
		cursor: default;
	}
}
