@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		playRenderer-bg: cv(dark-secondary, dark10),
	),
);

// Those wrapper are used so the columned div can use height: 100% inside a div with margins
// We use the trick with an "absolute" positioned that fills the available height
.playRendererWrapper1 {
	position: relative; // needs to be relative so the "absolute" trick works to fill the height
	height: 100%;
	overflow-y: scroll;

	@include themify($themes) {
		background-color: themed('playRenderer-bg');
	}
}
.playRendererWrapper2 {
	margin: $spacer-small;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.playRenderer--columns-1 {
	column-count: 1;
}
.playRenderer--columns-2 {
	column-count: 2;
	column-fill: auto;
	height: 100%;
}
.playRenderer--columns-3 {
	column-count: 3;
	column-fill: auto;
	height: 100%;
}
.playRenderer--columns-4 {
	column-count: 4;
	column-fill: auto;
	height: 100%;
}
