html,
body {
	margin: 0;
	padding: 0;
}

#popup-container {
	width: 300px;
}

.pp-statusTitle_Container {
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}
.pp-statusTitle_Container--green {
	background-color: darkseagreen;
}
.pp-statusTitle_Container--grey {
	background-color: darkgrey;
}
.pp-statusTitle_Container--yellow {
	background-color: lightyellow;
}

.pp-userMessage_Container {
	padding: 10px;
}

.pp-button_Container {
	padding: 10px;
}

.pp-button_Button:hover {
	background-color: black;
}
