@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		logo-txt: cv(dark-foreground),
	),
);

.logo-isExpanded {
	box-sizing: border-box;
	padding: $spacer-small-plus 0 $spacer-small;
	width: 100%;

	.leftBar-isCollapsed & {
		display: none;
	}
}

.logo-img {
	margin: 0 auto;
	width: 70%;
	svg {
		fill: #fff;
		aspect-ratio: 1.25 / 1;
		width: 80%;
		margin: 5px auto 10px auto;
		display: block;
	}
}
