@import '../../../../scss/abstract';

.versions-isExpanded {
	margin: $spacer-large 0;
	padding: 0 $spacer-small;
	opacity: 0.5;

	@include font-size(tiny);

	.rightBar-isCollapsed & {
		display: none;
	}
}
