@import '../../../../scss/abstract';


$themes: (
        light: (

        ),
        dark: (
                editorPreview-txt: cv(dark-foreground, dark10),
        ),
);

.editorPreview {
  @include themify($themes) {
		color: themed('editorPreview-txt');
    background-color: themed('editorPreview-bg');
  }

}
