@import '../../../../scss/abstract';


$themes: (
        light: (

        ),
        dark: (
                song-txt: cv(dark-foreground, dark10),
        ),
);


.ep-SongRenderer {
  @include themify($themes) {
    color: themed('song-txt');
  }
}
