@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		editorPreview-txt: cv(dark-foreground, dark10),
	),
);

.editorPreview {
	box-sizing: border-box;
	padding: $spacer-tiny;
	min-height: 100%;
}

.cmTheme-fadeRepeats {
	.cmLine--isFromAutoRepeatChords,
	.cmLine--isFromChordLineRepeater,
	.cmLine--isFromSectionCopy,
	.cmLine--isFromSectionMultiply {
		opacity: 0.5;
	}
}
