@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		editor-txt: cv(dark-foreground, dark10),
	),
);

.prosemirrorWrapper {
	flex: 1 1 auto;
	padding: 15px 0;
}

.ProseMirror {
	height: 100%;
	outline: none;

	font-family: $cmFontStack;
	font-size: $cmFontSize;
	line-height: $cmLineHeight;

	@include themify($themes) {
		color: themed('editor-txt');
	}

	p {
		margin: 0;
		padding: 0 $spacer-small;
	}
}
