/* ===== Normalize ===== */
/* https://mattbrictson.com/blog/css-normalize-and-reset */
@import '../../../node_modules/modern-normalize/modern-normalize.css';

:root {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* ===== Variables ===== */

:root {
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 24px;
	--space-xl: 32px;
	--space-xxl: 48px;
}
