@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		logo-txt: cv(dark-foreground),
	),
);

.logo-isExpanded {
	box-sizing: border-box;
	padding: $spacer-small 0;
	width: 100%;

	.leftBar-isCollapsed & {
		display: none;
	}
}

.logo-img {
	margin: 0 auto;
	width: 80%;
	img {
		max-width: 100%;
	}
}
