<!doctype html>
<html class="no-js" lang="en_EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="global-wrapper">
    <header data-area="app-header"></header>
    <main>
        <section class="side-bar" data-area="app-side-bar">
            <section class="rendering-options">
                <input type="checkbox" id="aligned-rendering" checked/><label for="aligned-rendering">Aligned rendering</label>
            </section>

            <nav class="file-explorer">
                <ul><li contenteditable="true">Kiss</li></ul>
            </nav>
        </section>

        <section class="content" data-area="app-content">

            <section class="left">
                <div id="editor"></div>
            </section>

            <section class="right">
                <div id="rendered-song"><div></div></div>
            </section>
        </section>
    </main>
    <footer data-area="app-footer"></footer>
</div>

</body>
</html>