<!doctype html>
<html class="no-js" lang="en_EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="form">
    <label for="song-selector">Song:</label>
    <select id="song-selector" class="song-selector">
        <option value="kiss">Kiss</option>
        <option value="world">If I ruled the world</option>
    </select>
</div>
<div class="container">
    <div class="left">
        <strong>Source: </strong>
        <div id="editor"></div>
        <div id="editor-content">Content test</div>
    </div>
    <div class="right">
        <strong>Rendered: </strong>
        <div id="rendered-song"><div></div></div>
    </div>
</div>
<div>v{{ htmlWebpackPlugin.options.version }}</div>

</body>
</html>