<!doctype html>
<html class="no-js" lang="en_EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="app-wrapper">
    <header data-area="app-header"></header>
    <main>
        <section class="app-side-bar" data-area="app-side-bar"></section>
        <section class="app-content" data-area="app-content"></section>
    </main>
    <footer data-area="app-footer"></footer>
</div>

</body>
</html>