<!doctype html>
<html class="no-js" lang="en_EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<style>
    body {
        font-family: monospace;
        font-size: 14px;
    }
    .container {
        line-height: 1.6em;

        display: flex;
    }
    .left {
        flex: 1 1 auto;
        padding: 10px;
        border-right: 2px solid black;
    }
    .right {
        flex: 1 1 auto;
        padding: 10px;
    }
    #editor p, pre {
         margin: 0;
    }
    #editor, pre {
        border: 1px solid grey;
        padding: 10px;
    }
    #editor-content {
        display: none;
    }
    .ProseMirror-focused {
        outline: none;
    }

</style>
<div class="container">
    <div class="left">
        <strong>Source: </strong>
        <div id="editor"></div>
        <div id="editor-content">Content test</div>
    </div>
    <div class="right">
        <strong>Rendered: </strong>
        <pre id="rendered-song">
        </pre>
    </div>
</div>

</body>
</html>