@import '../../../../scss/abstract';


$themes: (
        light: (

        ),
        dark: (
                song-txt: cv(dark-background),
                song-bg: cv(dark-foreground),

                desktop-bg: cv(dark-primary),
        ),
);


.printPreview {
  overflow-y: scroll;

  @include themify($themes) {
    background-color: themed('desktop-bg');
  }
}

.printPreview-page {
  width: 210mm;
  height: 297mm;
  position: relative;

  margin: $spacer-medium auto;

  background-color: white;
}

.printPreview-pageContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 15mm;
}

.printPreview-pageColumn {
  flex: 1 1 0;
  margin: 0 $spacer-tiny-plus;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}


.measuring-node {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
