@import '../../../../scss/abstract';


$themes: (
        light: (

        ),
        dark: (
                song-txt: cv(dark-background),
                song-bg: cv(dark-foreground),

                desktop-bg: cv(dark-primary),
        ),
);


.printPreview {
  overflow-y: scroll;

  @include themify($themes) {
    background-color: themed('desktop-bg');
  }
}

.printPreview-page {
  // see size and font-size definitions below

  position: relative;
  margin: $spacer-medium auto;
  background-color: white;
}

// This wrapper is used for the page padding and to fill all available height
.printPreview-pageContentWrapper {
  // see padding definitions below

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// Flex container for header + columnsWrapper
.printPreview-pageContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: 100%;
}

.printPreview-pageHeader {
  @include font-size(big);
  font-weight: $weight-bold;

  margin-bottom: $spacer-small;
}

// flex container for columns
.printPreview-pageColumnWrapper {
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.printPreview-pageColumn {
  flex: 1 1 0;
  margin: 0 $spacer-tiny-plus;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}


// Document Size definitions
.printPreview-page--a4 {
  width: 210mm;
  height: 297mm;
}

.printPreview-page--booxmax2pro {
  width: 698px;
  height: 930px;
}


// Margin definitions
.printPreview-pageContentWrapper--padding1 {
  padding: 3mm;
}
.printPreview-pageContentWrapper--padding2 {
  padding: 6mm;
}
.printPreview-pageContentWrapper--padding3 {
  padding: 9mm;
}
.printPreview-pageContentWrapper--padding4 {
  padding: 12mm;
}
.printPreview-pageContentWrapper--padding5 {
  padding: 15mm;
}


// Font size definitions
.printPreview-page--font-5 {
  font-size: 7px;
}
.printPreview-page--font-4 {
  font-size: 8px;
}
.printPreview-page--font-3 {
  font-size: 9px;
}
.printPreview-page--font-2 {
  font-size: 10px;
}
.printPreview-page--font-1 {
  font-size: 11px;
}
.printPreview-page--font0 {
  font-size: 12px;
}
.printPreview-page--font1 {
  font-size: 13px;
}
.printPreview-page--font2 {
  font-size: 14px;
}
.printPreview-page--font3 {
  font-size: 15px;
}
.printPreview-page--font4 {
  font-size: 16px;
}
.printPreview-page--font5 {
  font-size: 17px;
}

