@import '../../../scss/abstract';
@import '../themes';

.sim-SongImporterModal_Container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: nowrap;

	@include themify($themes) {
		background-color: themed('popup-bg');
		border: 1px solid themed('popup-border');
		color: themed('popup-txt');
	}
}

.sim-Header_Container {
	flex: 0 0 auto;
	display: flex;

	@include themify($themes) {
		background-color: themed('header-bg');
		border-bottom: 1px solid themed('header-border');
		color: themed('header-txt');
	}
}

.sim-Header_Title {
	flex: 1 1 auto;
	padding: 20px;
	@include font-size(base);
	font-weight: bolder;
}

.sim-Header_Actions {
	flex: 0 0 auto;
	padding: 10px;

	.Button {
		margin-left: 20px;
	}
}

.sim-TwoColumns_Container {
	display: flex;
	align-self: stretch;
}

.sim-TwoColumns_Container-autoHeight {
	flex: 0 1 100%;
	min-height: 0; // necessary, otherwise content doesn't scroll!
}

.sim-Column_Container {
	flex: 1 1 50%;
	align-self: stretch;
	padding: 10px;

	&:first-child {
		padding-right: 5px;
	}
	&:last-child {
		padding-left: 5px;
	}
}

.sim-Input_Textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	resize: none;
	margin: 0;
	background-color: transparent;
	border: 0;
	outline: none;

	font-family: $font-family-monospace;
	@include font-size(small);
	line-height: 1.5rem;

	@include themify($themes) {
		background-color: themed('input-bg');
		color: themed('input-txt');
	}
}

.sim-Preview_Container {
	box-sizing: border-box;

	font-family: $font-family-monospace;
	@include font-size(small);
	white-space: pre-wrap;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	padding: 10px;

	@include themify($themes) {
		background-color: themed('preview-bg');
	}
}

.sim-Preview_Error {
	padding: 10px;
	@include themify($themes) {
		color: themed('previewError-txt');
		background-color: themed('previewError-bg');
	}
}

.sim-InputFormat_Entry {
	display: inline-block;
	margin: 0 10px;

	&:hover {
		cursor: pointer;
	}
}

.sim-InputFormat_Label {
	&:hover {
		cursor: pointer;
	}
}
