@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		editor-txt: cv(dark-foreground, dark10),
	),
);

.prosemirrorWrapper {
	flex: 1 1 auto;
	padding: $spacer-small 0;
}

.ProseMirror {
	height: 100%;

	outline: none;
	font-family: $font-family-monospace;
	@include font-size(small);

	@include themify($themes) {
		color: themed('editor-txt');
	}

	p {
		margin: 0;
		padding: 0 $spacer-small;
	}
}
