@import '././././scss/abstract';

$themes: (
	light: (),
	dark: (
		song-txt: cv(dark-background),
		song-bg: cv(dark-foreground),
		desktop-bg: cv(dark-secondary),
	),
);

.printPreview {
	overflow-y: scroll;

	@include themify($themes) {
		background-color: themed('desktop-bg');
	}

	@media print {
		background-color: white !important;
		overflow-y: auto;
	}
}

.printPreview-page {
	// see size and font-size definitions below

	position: relative;
	margin: $spacer-medium auto;
	background-color: white;

	@media print {
		margin: 0;
		page-break-after: auto;
	}
}

// This wrapper is used for the page padding and to fill all available height
.printPreview-pageContentWrapper {
	// see padding definitions below

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

// Flex container for header + columnsWrapper
.printPreview-pageContent {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	height: 100%;
}

.printPreview-pageHeader {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	@include font-size(big);
	font-weight: $weight-bold;

	margin-bottom: $spacer-small;
}

// flex container for columns
.printPreview-pageColumnWrapper {
	flex: 1;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.printPreview-pageColumn {
	flex: 1 1 0;
	margin: 0 $spacer-tiny-plus;

	&:first-of-type {
		margin-left: 0;
	}

	&:last-of-type {
		margin-right: 0;
	}
}

// Document Size definitions
.printPreview-page--a4 {
	width: 210mm;
	height: 297mm;
}

.printPreview-page--booxmax2pro {
	width: 698px;
	height: 930px;
}

// Margin definitions
.printPreview-pageContentWrapper--padding1 {
	padding: 3mm;
}
.printPreview-pageContentWrapper--padding2 {
	padding: 6mm;
}
.printPreview-pageContentWrapper--padding3 {
	padding: 9mm;
}
.printPreview-pageContentWrapper--padding4 {
	padding: 12mm;
}
.printPreview-pageContentWrapper--padding5 {
	padding: 15mm;
}

.cmTheme-print {
	.cmSong {
		padding: 0 !important;
	}
}
