<div class="file-explorer">
    <div class="file-explorer-actions">
        <button data-action="new-file">New file</button> -
        <button data-action="delete-file">Delete</button>
    </div>
    <hr />
    <ul class="entry-list"></ul>
</div>