<div class="rendering-options">
    <input type="checkbox" id="align-bars" data-option="align-bars"><label for="align-bars">Align bars</label><br />
    Transpose: <button data-option="transpose-down">-1</button> <span data-option="transpose-value">0</span> <button data-option="transpose-up">+1</button>
</div>