<div class="rendering-options">
    <div class="panel">
        <input type="checkbox" id="align-bars" data-option="align-bars" checked><label for="align-bars">Align bars</label><br />
    </div>
    <div class="panel">
        Transpose: <button data-option="transpose-down">-1</button> <span data-option="transpose-value">0</span> <button data-option="transpose-up">+1</button><br />
        <div data-option="harmonize-accidentals">
            Unify flats / sharps
            <input type="radio" id="harmonize-accidentals-false" name="ha" value="false"><label for="harmonize-accidentals-false">No</label>
            <input type="radio" id="harmonize-accidentals-true" name="ha" value="true" checked><label for="harmonize-accidentals-true">Yes</label><br/>
        </div>
        <div data-option="accidentals-type">
            Accidentals
            <input type="radio" id="accidentals-type-auto" name="ht" value="auto" checked><label for="accidentals-type-auto">Auto</label>
            <input type="radio" id="accidentals-type-flats" name="ht" value="flats"><label for="accidentals-type-flats">Flats</label>
            <input type="radio" id="accidentals-type-sharps" name="ht" value="sharps"><label for="accidentals-type-sharps">Sharps</label>
        </div>
    </div>
</div>