@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		editorSrc-bg: cv(dark-secondary, dark5),
	),
);

.songEditor {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.songEditor-source {
	flex: 0 1 50%;
	display: flex;
	overflow-y: scroll;

	@include themify($themes) {
		background-color: themed('editorSrc-bg');
	}
}

.songEditor-preview {
	flex: 0 1 50%;
	overflow-y: scroll;
}
