@import '../../../../scss/abstract';


.renderingOptionsPanel-isExpanded {
  .appLayout-sidebar-isCollapsed & {
    display:none;
  }
}

.renderingOptionsPanel-isCollapsed {
  padding: $spacer-small 0;

  .appLayout-sidebar:not(.appLayout-sidebar-isCollapsed) & {
    display:none;
  }
}
