@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		song-bg: cv(dark-foreground),
	),
);

.exportPreview {
	box-sizing: border-box;
	min-height: 100%;
	padding: $spacer-small;

	@include themify($themes) {
		background-color: themed('song-bg');
	}
}

.exp-SongRenderer {
	font-family: $cmFontStack;
	font-size: $cmFontSize;
	line-height: $cmLineHeight;

	padding: 15px;
	white-space: pre-wrap;
	color: #333;

	p {
		margin: 0;
	}

	.cmSong {
		padding: 0 !important;
	}
}
