<div class="app-wrapper">
    <header data-area="app-header"></header>
    <main>
        <section class="app-side-bar" data-area="app-side-bar"></section>
        <section class="app-content" data-area="app-content"></section>
    </main>
    <footer data-area="app-footer"></footer>
</div>
