@import '../../../../../scss/abstract';
@import '../themes';


html, body, #app {
  height: 100%;
  padding: 0;
}


.appLayout-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


.appLayout-sidebar {
  flex-shrink: 0;
  width: 15%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &.appLayout-sidebar-isCollapsed {
    width: 48px;
  }
}


.appLayout-leftBar {
  @include themify($themes) {
    color: themed('leftBar-txt');
    background-color: themed('leftBar-bg');

    &.appLayout-sidebar-isCollapsed {
      border-right: 1px solid themed('leftBar-border');

      &:hover {
        background-color: themed('leftBar-bgHover');
      }
    }
  }
}


.appLayout-rightBar {
  @include themify($themes) {
    color: themed('rightBar-txt');
    background-color: themed('rightBar-bg');

    &.appLayout-sidebar-isCollapsed {
      border-left: 1px solid themed('rightBar-border');

      &:hover {
        background-color: themed('rightBar-bgHover');
      }
    }
  }
}


.appLayout-sidebarContent {
  overflow-y: scroll;
  flex: 1 1 auto;

  .appLayout-sidebar-isCollapsed & {
    padding: $spacer-tiny $spacer-small;
    text-align: center;
    cursor: pointer;
  }
}


.appLayout-sidebarCollapser {
  flex: 0 0 12px;
  display: flex;
  cursor: pointer;

  .appLayout-sidebar-isCollapsed & {
    display: none;
  }

  .icon {
    flex: 1 1 auto;
    align-self: center;
    font-weight: $weight-bold;

    @include font-size(small);
  }
}


.appLayout-leftBarCollapser {
  @include themify($themes) {
    background-color: themed('leftBar-collapser-bg');
    border-right: 1px solid themed('leftBar-collapser-border');

    &:hover {
      background-color: themed('leftBar-collapser-bgHover');
    }
  }

  @include themify($themes) {
    color: themed('leftBar-collapser-txt');
  }
}


.appLayout-rightBarCollapser {
  @include themify($themes) {
    background-color: themed('rightBar-collapser-bg');
    border-left: 1px solid themed('rightBar-collapser-border');

    &:hover {
      background-color: themed('rightBar-collapser-bgHover');
    }
  }

  @include themify($themes) {
    color: themed('rightBar-collapser-txt');
  }
}

.appLayout-main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.appLayout-header {
  flex-shrink: 0;

  @include themify($themes) {
    color: themed('header-txt');
    background-color: themed('header-bg');
    border-bottom: 2px solid themed('header-border');
  }
}


.appLayout-content {
  overflow-y: auto;
  flex-grow: 1;

  @include themify($themes) {
    background-color: themed('content-bg');
  }
}


.appLayout-footer {
  flex-shrink: 0;

  @include themify($themes) {
    color: themed('footer-txt');
    background-color: themed('footer-bg');
    border-top: 1px solid themed('footer-border');
  }
}




