// Structure

.mainNav {
  .mainNav-entries {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .mainNavEntry {
      display: inline-block;
      padding: 0 $spacer-medium;

      .icon {
        margin-right: $spacer-tiny;
        vertical-align: middle;
      }
    }
  }
}


// Skin

.mainNav {
  .mainNav-entries {
    list-style-type: none;
    @include font-size(base);
    font-family: $font-family-headings;
    font-weight: 400;
    vertical-align: middle;
    color: $c-prim-ultradark;

    .mainNavEntry {
      cursor: pointer;

      .icon {
        @include font-size(normal);
      }

      &:hover {
        background-color: $c-prim-light;
      }

      &.mainNavEntry-isActive {
        background-color: $c-prim-dark;
        color: $c-prim-txt;
      }
    }
  }
}

