
// legacy START
$c-prim: #546e7a;
$c-prim-dark: #29434e;
$c-prim-ultradark: darken($c-prim-dark, 10%);
$c-prim-light: #819ca9;
$c-prim-ultralight: lighten($c-prim-light, 35%);

$c-prim-txt: #fff;


$c-sec: #ffca28;
$c-sec-txt: #000;
$c-sec-dark: #c79a00;
$c-sec-light: #fffd61;
// legacy END




// https://coolors.co/f4f4f4-161925-2e4052-336699-faa916
$whiteSmoke: rgba(244, 244, 244, 1);
$onyx: rgba(48, 56, 70, 1);
$charcoal: rgba(46, 64, 82, 1);
$lapisLazuli: rgba(49, 107, 165, 1);
$darkTangerine: rgba(250, 169, 22, 1);

$colors: (
        // Dark theme
        dark-foreground: $whiteSmoke,
        dark-background: $onyx,
        dark-accent: $darkTangerine,
        dark-primary: $charcoal,
        dark-secondary: $lapisLazuli,
);



