// Spacings
$spacer-extra-tiny: 0.25rem !default;
$spacer-tiny: 0.5rem !default;
$spacer-tiny-plus: 0.7rem !default;
$spacer-small: 1rem !default;
$spacer-small-plus: 1.5rem !default;
$spacer-medium: 2rem !default;
$spacer-medium-plus: 3rem !default;
$spacer-large: 4rem !default;
$spacer-large-plus: 6rem !default;
$spacer-extra-large: 8rem !default;
$spacer-extra-large-plus: 12rem !default;
$spacer-ultra-large: 16rem !default;
$spacer-ultra-large-plus: 20rem !default;
