// z-indexes
$zindex-navigation: 1000 !default;
$zindex-dropdown: 2000 !default;
$zindex-popover: 3000 !default;
$zindex-tooltip: 4000 !default;
$zindex-modal: 5000 !default;
$zindex-notification: 6000 !default;
$zindex-debug: 7000 !default;
