@import '../../../../scss/abstract';

.logo-isExpanded {
  margin: $spacer-tiny $spacer-small;
  padding-bottom: $spacer-tiny;

  @include font-size(base);
  font-family: $font-family-headings;
  font-weight: 700;
  color: $c-prim-txt;
  border-bottom: 1px solid $c-prim-light;

  .icon {
    @include font-size(normal);
    margin-right: $spacer-tiny;
    vertical-align: middle;
  }

  .appLayout-sidebar-isCollapsed & {
    display:none;
  }
}

.logo-isCollapsed {
  padding: $spacer-small 0;

  .appLayout-sidebar:not(.appLayout-sidebar-isCollapsed) & {
    display:none;
  }
}
