@import '../../../../scss/abstract';

$themes: (
	light: (),
	dark: (
		logo-txt: cv(dark-foreground),
	),
);

.logo-isExpanded {
	display: flex;
	margin: $spacer-tiny $spacer-small;

	.leftBar-isCollapsed & {
		display: none;
	}
}

.logo-img {
	flex: 0 0 50px;
	img {
		max-width: 100%;
	}
}

.logo-txt {
	flex: 1 1 auto;
	margin-left: $spacer-tiny;

	@include font-size(base);
	font-family: $font-family-headings;
	font-weight: 700;

	@include themify($themes) {
		color: themed('logo-txt');
	}
}
