@import '../../../../scss/abstract';


$themes: (
        light: (

        ),
        dark: (
                logo-txt: cv(dark-foreground),
                logo-border: cv(dark-foreground, fade),
        ),
);


.logo-isExpanded {
  margin: $spacer-tiny $spacer-small;
  padding-bottom: $spacer-tiny;

  @include font-size(base);
  font-family: $font-family-headings;
  font-weight: 700;

  @include themify($themes) {
    color: themed('logo-txt');
    border-bottom: 1px dotted themed('logo-border');
  }

  .leftBar-isCollapsed & {
    display:none;
  }
}


.logo-icon {
  @include font-size(normal);
  margin-right: $spacer-tiny;
}


.logo-isCollapsed {
  padding: $spacer-small 0;

  .leftBar:not(.leftBar-isCollapsed) & {
    display:none;
  }
}
